/* Clases personalizadas */
#main-header {
    background-color: rgb(163, 168, 172);
}

#titulo {
    max-height: 40px;
}

#fa-logo {
    height: 40px;
    width: auto;
}

#you-logo {
    height: 40px;
    width: auto;
}

div.jumbotron {
    background-image: url("../img/prueba3.jpg");
    background-size: cover;
    background-position: center;
}

#titulo-jumbo {
    color: black;
    font-weight: bold;
}

#subtitulo-jumbo {
    color: black;
    font-weight: 500;
}

.card {
    width: 100%;
}

#card-news {
    padding: 0;
}

#slider {
    padding: 0;
    margin-bottom: 5%;
}

#img-slide {
    height: 400px;
    width: auto;
}

.img-car-div{
    position: relative;
}

.info-carousel {
    position: absolute;
    bottom: 15%;
    right: 0;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    background: rgba(231, 222, 222, 0.3);
    border-radius: 15px;
    padding: 10px;
}
