/* Clases personalizadas */
#main-header {
    background-color: aliceblue;
}

div.jumbotron {
    background-image: url("../img/prueba2.jpg");
    background-size: cover;
    background-position: center;
}

#card-news {
    padding: 0;
}
